API_GATEWAY_URL=http://127.0.0.1:8000
PYTHON_SERVICE_URL=http://127.0.0.1:8000
DATA_SERVICE_URL=http://127.0.0.1:8001
FORECASTING_SERVICE_URL=http://127.0.0.1:8002
ROUTING_SERVICE_URL=http://127.0.0.1:8003
REDIS_URL=redis://127.0.0.1:6379/0
FORECAST_CACHE_TTL_SECONDS=900
ROUTE_CACHE_TTL_SECONDS=180
OSRM_URL=https://router.project-osrm.org
